---
import Section from "../../layouts/Section.astro";
import ExternalLinkIcon from "../Icons/ExternalLinkIcon.astro";
---

<Section elementId="About" subtitle="Sobre Mi">
  <div class="text-base prose prose-invert">
    <p>
      Soy estudiante de sistemas y computación motivado por el aprendizaje
      constante. Disfruto estudiar los conceptos relacionados a la ingeniería de
      sistemas y programación, así mismo como desarrollar mis hobbies como lo
      son la música, la lectura, y los viajes.
    </p>
    <p>
      En mi tiempo libre hago garabatos y diseños de los proyectos que quiero
      hacer, y los traigo a la vida. También suelo disfrutar ratos de
      tranquilidad tocando mi guitarra o leyendo algún libro interesante.
    </p>
    <p>
      Actualmente estoy buscando trabajo como pasante o desarrollador junior,
      así que, por favor, echa un ojo a mi hoja de vida.
    </p>
  </div>
  <a
    href="../../../JuanEstebanLozada.pdf"
    target="_blank"
    class="font-bold underline inline-flex gap-2 items-center mt-2 text-primary-a0"
  >
    Hoja de Vida
    <ExternalLinkIcon />
  </a>
</Section>
