---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import IconJar from "../ui/IconJar.astro";
---

<section
  id="welcome"
  class="flex justify-end items-center m-auto sm:w-[90vw] h-[80vh] bg-surface md:h-screen"
>
  <div>
    <!-- Heading -->
    <div class="text-right mb-4">
      <h1
        class="text-4xl font-bold leading-10 mb-2 md:text-[10rem] md:leading-[8rem]"
      >
        Juan Esteban<br />Lozada H<span class="text-primary-a0">.</span>
      </h1>
      <span class="text-subhead md:text-3xl text-primary-a0"
        >Estuidiante de sistemas y comp.</span
      >
    </div>

    <div class="flex justify-end">
      <!-- Socials (icon Jar)-->
      <IconJar display="flex" />
    </div>
  </div>
</section>
