---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<main class="flex justify-center items-center m-auto h-screen bg-surface">
  <h1 class="text-white text-4xl">This website is under maintenance.</h1>
</main>
